@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*====================================*/
/*              General
/*====================================*/

body {
  background: rgb(229, 230, 231);
  font-family: 'Roboto';
  box-sizing: border-box;
  font-size: 13px;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: none;
  font-size: 14px;
  padding: 4px 10px;
  margin: 0 5px;
  border-radius: 4px;
}

button:hover:not([disabled]) {
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

.full-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

/*====================================*/
/*              Layout
/*====================================*/

#container {
  padding: 0 20px 5px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 30px; /* container must be given a size otherwise it will grow with its content */
}

/* top */

.top-row {
  display: flex;
  flex-wrap: wrap;
}

#project-name {
  font-weight: bold;
  margin: 12px 20px;
  flex-grow: 1;
  white-space: nowrap;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.time-code-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: 3px;
  padding: 0 12px;
  font-family: monospace;
  font-size: large;
  background: #00000005;
  border-radius: 3px;
  box-shadow: 1px 1px 4px #0000002c inset;
  color: rgb(43, 43, 43);
}

#settings-button {
  padding: 10px;
  opacity: 0.5;
  margin-right: 8px;
}

#settings-button:hover {
  padding: 10px;
  opacity: 0.77;
}

#settings-button img {
  width: 30px;
}

/*====================================*/
/*             Actions
/*====================================*/

#actions {
  display: flex;
  justify-content: center;
}

/*====================================*/
/*          Master section
/*====================================*/

.master-section {
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 6px;
  padding: 4px 0;
}

#master-slider {
  width: 100px;
  margin: 0 12px;
}

#master-meter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#master-meter meter {
  width: 50px;
}

.master-label {
  justify-content: center;
}

/*====================================*/
/*              Other
/*====================================*/

/* sliders */
/* http://danielstern.ca/range.css/#/ */

input[type=range] {
  -webkit-appearance: none;
  margin: 4.6px 0;
  background: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  box-shadow: 1px 1px 4px #0000002c inset;
  background: #00000005;
  border-radius: 10px;
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  background: #00000005;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00000015;
}
input[type=range]:focus::-webkit-slider-thumb {
  border: 1px solid #00000080;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6.9px;
  border: 0.2px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55), 0px 0px 1px rgba(13, 13, 13, 0.55);
  border: 0.5px solid rgba(0, 0, 0, 0.21);
  height: 18px;
  width: 16px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.07);
  border: 0.2px solid #000101;
  border-radius: 13.8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.07);
  border: 0.2px solid #000101;
  border-radius: 13.8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55), 0px 0px 1px rgba(13, 13, 13, 0.55);
  border: 0.5px solid rgba(0, 0, 0, 0.21);
  height: 18px;
  width: 16px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  height: 8.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.07);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(13, 13, 13, 0.07);
}
