@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto';
  font-size: 13px;
}

#fwd-runner-container {
  flex-grow: 1;
  overflow: auto;
  display: flex;
}

#fwd-runner-container>div {
  flex-grow: 1;
}

/*====================================*/
/*              Other
/*====================================*/

/* sliders */
/* http://danielstern.ca/range.css/#/ */

input[type=range].slider {
  -webkit-appearance: none;
  margin: 4.6px 0;
  background: none;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 4px #0000002c inset;
  background: #00000030;
  border-radius: 0;
  border: 0;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #00000040;
}
input[type=range].slider:focus::-webkit-slider-thumb {
  border: 1px solid #00000080;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6.9px;
  border: 0.2px solid #000101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55), 0px 0px 1px rgba(13, 13, 13, 0.55);
  border: 0.5px solid rgba(0, 0, 0, 0.21);
  height: 18px;
  width: 16px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.07);
  border: 0.2px solid #000101;
  border-radius: 13.8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
}
input[type=range].slider::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.07);
  border: 0.2px solid #000101;
  border-radius: 13.8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31), 0px 0px 1px rgba(13, 13, 13, 0.31);
}
input[type=range].slider::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55), 0px 0px 1px rgba(13, 13, 13, 0.55);
  border: 0.5px solid rgba(0, 0, 0, 0.21);
  height: 18px;
  width: 16px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  height: 8.8px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.07);
}
input[type=range].slider:focus::-ms-fill-upper {
  background: rgba(13, 13, 13, 0.07);
}

/* scrollbar */
/* http://webkit-scroll-gen.sourceforge.net/ */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #00000018;
  border: none;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000002d;
}

::-webkit-scrollbar-thumb:active {
  background: #00000042;
}

::-webkit-scrollbar-track {
  background: #00000000;
  border: none;
}

::-webkit-scrollbar-track:hover {
  background: #0000000c;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
